.app {
  display: grid;
  max-width: 100vw;
  grid-template-areas:
    'a b b'
    'a c c'
    'a c c';
  grid-template-rows: auto;
  grid-template-columns: 15rem 1.5fr 1.5fr;
  padding: 0 4rem 4rem 4rem;
}

.sec-1 {
  grid-area: a;
}

.sec-2 {
  grid-area: b;
  display: grid;
  justify-content: left;
  padding: 0 0 0 1rem;
}

.sec-3 {
  grid-area: c;
  position: sticky;
  padding: 0 0 0 1rem;
}

.footer {
  font-family: 'Roboto' sans-serif;
  text-align: right;
  position: relative;
  bottom: 0;
  padding: 1em;
}

@media only screen and (max-width: 768px) {
  body {
    padding: 0;
  }

  .app {
    display: grid;
    grid-template-columns: unset;
    grid-template-rows: auto;
    grid-template-areas:
      'a'
      'b'
      'c';
    width: 100%;
    padding: 0;
  }

  .sec-1 {
    grid-area: c;
    padding: 0 0.5rem 0 0.5rem;
  }

  .sec-2 {
    grid-area: b;
    padding: 0 1rem 0.5rem 1rem;
  }

  .sec-3 {
    grid-area: a;
    padding: 0 0.5rem 0 0.5rem;
  }
}
