.letter-selector {
  display: grid;
  grid-area: a;
  grid-template-columns: 1fr 1fr;
  min-width: 100%;
  height: 100%;
}

@media only screen and (max-width: 768px) {
  .letter-selector {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 480px) {
  .letter-selector {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 320px) {
  .letter-selector {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
