.banner {
  padding: 2rem 4rem 0.2rem 4rem;
  font-family: 'Roboto' sans-serif;
}

.title {
  font-size: 4rem;
  font-weight: bolder;
  text-shadow: 0 4px rgb(230, 230, 230);
  padding-bottom: 1rem;
}

p {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  padding: 1rem 1rem 1rem 1rem;
  text-shadow: 0 1px rgb(230, 230, 230);
}

a {
  text-decoration: none;
  color: #FE6B8B;
}

a:hover {
  color: #FF8E53;
  transition: transform(1px, 1px);
}

@media only screen and (max-width: 768px) {
  .banner {
    padding: 2rem 2rem 0.5rem 2rem;
  }
  
  .title {
    font-size: 2.3rem;
  }

}

@media only screen and (max-width: 480px) {
  .title {
    font-size: 1.3rem;
  }
}